<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="id.rosyid.moviecatalogue">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MovieCatalogueApp"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/ic_movie_folder"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_movie_folder_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MovieCatalogue">
        <activity
            android:name=".ui.detail.DetailActivity"
            android:parentActivityName=".ui.homepage.HomepageActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="id.rosyid.moviecatalogue.ui.homepage.HomepageActivity" />
        </activity>
        <activity android:name=".ui.homepage.HomepageActivity" />
        <activity
            android:name=".ui.splash.SplashActivity"
            android:theme="@style/Theme.MovieCatalogue.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>